/* start globel rules */
:root{
    --main-color: #10cab7;
    --secondary-color: #f6f6f6;
    --main-padding: 60px;
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.active{
    display: none !important;
}
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
@media (max-width: 767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-paragraph{
        margin-top: -20px;
    }
}
.special-paragraph{
    color: #797979;
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
}
/* end global rules  */
/* Start Header */
.header .container .logo{
    width: 60px;
}
.header .container .links{
    cursor: pointer;
}
.header .container .links .icon{
    width: 30px;
}
.header .container .links .icon span{
    background-color: black;
    height: 2px;
}
.header .container .links .icon:hover span:nth-child(2){
    width: 100%;
}
.header .container .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .container .links ul{
    top: calc(100% + 15px);
    min-width: 200px;
    background-color: var(--secondary-color);
    z-index: 1;
}
.header .container .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .container .links ul a{
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .container .links ul a:hover {
    padding-left: 22px;
    letter-spacing: 1px;
}
/* end Header */
/* start landing page  */
.landing{
    background-image: url(../images/3899617.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 68px);
}
.intro-text{
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
@media (max-width: 768) {
    .intro-text{
        width: 320px;
        max-width: 100%;
    }
}
.landing .intro-text h1{
    color: var(--main-color);
    font-size: 50px;
}
.landing .intro-text p{
    font-size: 19px;
}
/* end landing page  */
/* start features  */
.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secondary-color);
}
.features .container div p{
    font-size: 17px;
}
.features .container div i{
    color: var(--main-color);
}
/* end features  */
/* start services  */
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.services .services-content{
    margin-top: 100px;
}
@media (max-width: 767px) {
    .services .services-content div .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content div .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content div .srv .text{
    flex: 1;
}
.services .services-content div .srv .text p{
    color: #333;
    font-weight: 300;
}
@media (max-width: 1199px) {
    .services .services-content div .image{
        display: none;
    }
}
.services .services-content div .image::before{
    content: "";
    position: absolute;
    right: 0;
    background-color: #2c4755;
    width: 100px;
    height: calc(100% + 40px);
    top: -20px;
    z-index: -1;
}
.services .services-content div img{
    width: 300px;
    height: 350px;
}
/* end services  */
/* start portfolio  */
.portfolio{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secondary-color);
}
.portfolio .row{
    margin-top: 100px;
}
.portfolio .row .card{
    background-color: white;
    /* width: 360px; */
}
@media (max-width: 767px) {
    .portfolio .row .card{       
        width: 100%;
    }
}
@media (max-width: 991px) {
    .portfolio .row .card{
        margin: 0 !important;
        /* width: 100%; */
        margin-bottom: 20px !important;
    }
}
/* end portfolio  */
/* start about */
.about{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding + 60px);
}
.about .about-content{
    margin-top: 100px;
}
@media (max-width: 991px) {
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .image{
        display: none;
    }
}
.about .about-content .image{
    width: 300px;
    height: 400px;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    width: 80px;
    background-color: #ebeced;
    height: calc(100% + 50px);
    top: -25px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 70px solid var(--main-color);
    border-bottom: 70px solid var(--main-color);
    top: -60px;
    right: -150px;
    z-index: -1;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content hr{
    border-color: var(--main-color);
}
/* end about */
/* start contact  */
.contact{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secondary-color);
}
.contact .info{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.contact .info .label{
    font-size: 30px;
    color: #2c4755;
    letter-spacing: -2px;
}
.contact .info a{
    font-size: 30px;
    color: var(--main-color);
}
@media (max-width: 767px) {
    .contact .info a{
        font-size: 15px;
    }
}
.contact .info .social{
    font-size: 16px;
}
.contact .info .social i{
    color: #2c4755;
}
/* end contact  */
/* start footer  */
.footer{
    padding: 30px 10px;
    background-color: #2c4755;
    font-size: 18px;
}
@media (max-width: 991px) {
    .footer p{
        font-size: 11px;
    }
}
.footer .container span{
    color: var(--main-color);
}
.footer .container a{
    color: var(--main-color);
}
.footer .container a:hover{
    text-decoration: underline !important;
}
/* end footer  */
